@import "global-styles.css";

/** PAGE HEADER START  */
.header {
  position: relative;
  height: 70px;

  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);

  transition: background var(--transition-time),
    border var(--transition-time) ease-in-out;
}

.header__h1 {
  max-width: 500px;
  position: absolute;
  top: 15px;
  vertical-align: center;
  color: var(--text-color-primary);
  user-select: none;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__members {
  list-style: none;
  display: inline-flex;
  gap: 10px;
}

.navigation__members,
.navigation a {
  height: calc(100% - 8px);
}

.navigation__member button {
  height: 100%;
}

.theme__btn-container {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--box-shadow);
  transition: background var(--transition-time),
    box-shadow var(--transition-time) ease-in-out;
}

.theme__btn-container:hover {
  background: var(--btn-bg-color-main);
  box-shadow: var(--box-shadow-hover);
}
.theme__btn-container:active {
  background: var(--btn-bg-color-main-active);
  box-shadow: var(--box-shadow-active);
}

.btn-toggle {
  all: unset;
  position: relative;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
}

.btn-toggle.btn-toggle-dark {
  background-image: url(../assets/sun.svg);
}

.btn-toggle.btn-toggle-light {
  background-image: url(../assets/moon.svg);
}
/** PAGE HEADER END */

.main {
  height: calc(100vh - 110px);
  padding: 10px;
}

.loader-img {
  width: 100px;
  height: 100px;
  /* filter equivalent of hex color #ff0000 */
  filter: var(--filter-color);
}

.shadow {
  display: inline-block;
  position: relative;
  overflow: hidden;

  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 7px inset;
}

/* .shadow:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 14px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 14px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 14px inset;
} */

.shadow img {
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  padding: 0 30px;

  transition: background var(--transition-time),
    border var(--transition-time) ease-in-out;
}

.footer__copy-left {
  display: inline-block;
  transform: scaleX(-1);
}
